In [3]:
import pandas as pd
import pickle
import matplotlib.pyplot as plt

In [4]:
train_mapper_path = "./datasets/bts_site_b_train/mapper_TrainOnly.csv"
train_file_path =  "./datasets/train/"

In [5]:
df_mapper = pd.read_csv(train_mapper_path)
df_mapper.head()

,Unnamed: 0,Building,StreamID,Filename,strBrickLabel
0,0,A,9ba955fa_5960_4c9b_b73a_10156da7d083,trainAll_0.pkl,Operating_Mode_Status
1,1,A,7a027f80_7d78_4a88_a1c1_20aaed374d97,FILE NOT SAVED: y is Point.,Point
2,2,A,8fd6e75b_88bc_4992_b420_77389969b3c4,trainAll_1.pkl,Mode_Command
3,3,A,8db6eaa9_bd6c_4f7e_aed0_a47e4e192a6c,trainAll_2.pkl,Active_Power_Sensor
4,4,A,b2338dec_110a_45cc_8358_1171aaef2c45,trainAll_3.pkl,System_Status

In [6]:
df = pd.read_csv('./sensor_location.csv')
df.head()

,ID,StreamID,Type,Category,Unit,NestedRelations,RelationType.1,Entity.EntityID.1,Entity.EntityType.1,Entity.Category.1,...,Entity.EntityType.4,Entity.Category.4,Entity.Depth.4,RelationType.5,Entity.EntityID.5,Entity.EntityType.5,Entity.Category.5,Entity.Depth.5,hasStream,Unnamed: 32
0,08684dc4_48b2_49da_b3cd_9b061c76c4f4,f3628673_839d_4681_9a34_b6374951908f,Current_Sensor,Sensor,A,{'RelatedEntities': [{'RelationType': 'isPoint...,isPointOf,b99ce6df_b057_4d80_81ba_ad76462968c1,Electrical_Generation_Meter,Equipment,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,True,f3628673_839d_4681_9a34_b6374951908f
1,08ff7ae0_acef_4f4d_8328_2de484a6d5e1.080e0472_...,7274bab7_ada3_4c00_8d20_e84a8d33f995,Mode_Status,Point,NaN,{'RelatedEntities': []},NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,False,NaN
2,08ff7ae0_acef_4f4d_8328_2de484a6d5e1.1316fd60_...,6c61a963_a4cf_485d_a15f_13154222a1ae,Heating_Command,Point,NaN,{'RelatedEntities': []},NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,True,NaN
3,08ff7ae0_acef_4f4d_8328_2de484a6d5e1.16fbd00a_...,e022d248_71dc_4142_a4af_01f2eff3360b,Water_Temperature_Sensor,Sensor,NaN,{'RelatedEntities': []},NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,True,NaN
4,08ff7ae0_acef_4f4d_8328_2de484a6d5e1.18999260_...,0c6cb0a3_7b9c_43af_baf5_dcb4ccd6914a,Heating_Command,Point,NaN,{'RelatedEntities': [{'RelationType': 'isPoint...,isPointOf,c10f79c9_744d_40a5_a272_7cde7ca1f5a6,Air_Handler_Unit,Equipment,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,True,NaN

#### Sensor In the Building

In [7]:
df.query("Category=='Sensor'").Type.unique()

array(['Current_Sensor', 'Water_Temperature_Sensor',
       'Heating_Demand_Sensor', 'Return_Water_Temperature_Sensor',
       'Differential_Pressure_Sensor',
       'Discharge_Water_Temperature_Sensor', 'Position_Sensor',
       'Air_Temperature_Sensor', 'Electrical_Power_Sensor',
       'Voltage_Sensor', 'Electrical_Energy_Sensor',
       'b1a78aa6_d50d_4c0a_920e_5ff7019ab663_Sensor', 'Usage_Sensor',
       'Outside_Air_Humidity_Sensor', 'Outside_Air_Temperature_Sensor',
       'Discharge_Air_Temperature_Sensor',
       'Filter_Differential_Pressure_Sensor', 'Damper_Position_Sensor',
       'Wind_Speed_Sensor', 'Thermal_Power_Sensor',
       'Cooling_Demand_Sensor',
       'Chilled_Water_Differential_Temperature_Sensor', 'Angle_Sensor',
       'Average_Zone_Air_Temperature_Sensor',
       'Warmest_Zone_Air_Temperature_Sensor'], dtype=object)

- Air_Temperature_Sensor
- Electrical_Energy_Sensor
- Electrical_Power_Sensor
- Water_Temperature_Sensor
- Usage_Sensor (Note: it contains gas and water meter)

#### Point In the Building

In [8]:
df.query("Category=='Point'").Type.unique()

array(['Mode_Status', 'Heating_Command', 'Heating_Demand_Setpoint',
       'Outside_Air_Temperature_Setpoint', 'Fault_Status',
       'System_Status', 'Enable_Status', 'Stages_Status', 'Mode_Command',
       'Room_Air_Temperature_Setpoint', 'Heating_Temperature_Setpoint',
       'System_Enable_Command', 'Point', 'Min_Temperature_Setpoint_Limit',
       'Max_Temperature_Setpoint_Limit', 'Temperature_Setpoint',
       'Proportional_Gain_Parameter', 'Cooling_Temperature_Setpoint',
       'Operating_Mode_Status', 'Reset_Command', 'Reset_Setpoint',
       'Differential_Pressure_Setpoint',
       'Min_Discharge_Air_Temperature_Setpoint_Limit',
       'Max_Discharge_Air_Temperature_Setpoint_Limit',
       'Low_Outside_Air_Temperature_Enable_Setpoint',
       'Min_Position_Setpoint_Limit', 'Emergency_Alarm',
       'Outside_Air_Lockout_Temperature_Setpoint', 'Cooling_Command',
       'Alarm', 'Cooling_Demand_Setpoint', 'Temperature_Parameter'],
      dtype=object)

#### Location in the Building

In [9]:
df[df["Entity.Category.1"]=='Location']['Entity.EntityType.1'].unique()

array(['Conference_Room', 'Library', 'Floor', 'Basement', 'Shared_space',
       'space', 'Open_space', 'HVAC_Zone', 'Enclosed_space', 'Water_Tank',
       'Copy_Room'], dtype=object)

#### We can focus analysis of following

-  Conference_Room
- Library
- Basement
- ....

#### Conference Room

In [10]:
df_conference_room = (df[
    (df["Entity.Category.1"]== 'Location') 
        & (df['Entity.EntityType.1']=='Conference_Room')
        & (df['Category']=='Sensor')
        & (df['Type']=='Air_Temperature_Sensor')
    ][["StreamID", "Entity.Category.1",'Entity.EntityType.1',  'Entity.EntityID.1', 'Entity.EntityType.2',  "Entity.Category.2", 'Entity.EntityID.2', 'Entity.EntityType.3',  "Entity.Category.3", 'Entity.EntityType.4',  "Entity.Category.4", 'Category', 'Type', 'Unit']]
)
df_conference_room.to_csv('./conference_room_tmp.csv')
df_conference_room.head()

,StreamID,Entity.Category.1,Entity.EntityType.1,Entity.EntityID.1,Entity.EntityType.2,Entity.Category.2,Entity.EntityID.2,Entity.EntityType.3,Entity.Category.3,Entity.EntityType.4,Entity.Category.4,Category,Type,Unit
27,3ebacdfd_bd8a_44da_9241_f192615018c7,Location,Conference_Room,3b373634_2461_4b61_8bcb_068c12b7e1a8.cbd54644_...,Floor,Location,6e0854f9_3888_4867_9176_0693de75f841,Building,Location,NaN,NaN,Sensor,Air_Temperature_Sensor,NaN
118,7f269e8d_b754_4484_ad1d_78d7abdd9dbe,Location,Conference_Room,d02c6fdd_ce6b_44a1_b193_1ede85e7d4c8.0e964c7f_...,Basement,Location,e8e7705d_b87a_4bf3_b454_202ca27ea7ad,Building,Location,NaN,NaN,Sensor,Air_Temperature_Sensor,NaN
203,9e5771cc_d778_41a4_9bd3_73da4e9852d2,Location,Conference_Room,3b373634_2461_4b61_8bcb_068c12b7e1a8.6af9698e_...,Floor,Location,6e0854f9_3888_4867_9176_0693de75f841,Building,Location,NaN,NaN,Sensor,Air_Temperature_Sensor,NaN
230,5794706b_7b64_4202_b743_61c671c4add3,Location,Conference_Room,3b373634_2461_4b61_8bcb_068c12b7e1a8.df84f19d_...,Floor,Location,6e0854f9_3888_4867_9176_0693de75f841,Building,Location,NaN,NaN,Sensor,Air_Temperature_Sensor,NaN
303,11328598_25fc_4808_ba70_a4a48ed1d6e4,Location,Conference_Room,d02c6fdd_ce6b_44a1_b193_1ede85e7d4c8.de9e0393_...,Basement,Location,e8e7705d_b87a_4bf3_b454_202ca27ea7ad,Building,Location,NaN,NaN,Sensor,Air_Temperature_Sensor,NaN

In [11]:
df_conference_room = (df[
    (df["Entity.Category.1"]== 'Location') 
        & (df['Entity.EntityType.1']=='Conference_Room')
        & (df['Category']=='Sensor')
        & (df['Type']=='Outside_Air_Temperature_Sensor')
    ][["StreamID", "Entity.Category.1",'Entity.EntityType.1',  'Entity.EntityID.1', 'Entity.EntityType.2',  "Entity.Category.2", 'Entity.EntityID.2', 'Entity.EntityType.3',  "Entity.Category.3", 'Entity.EntityType.4',  "Entity.Category.4", 'Category', 'Type', 'Unit']]
)
# df_conference_room.to_csv('./conference_room_tmp.csv')
df_conference_room.head()

Empty DataFrame
Columns: [StreamID, Entity.Category.1, Entity.EntityType.1, Entity.EntityID.1, Entity.EntityType.2, Entity.Category.2, Entity.EntityID.2, Entity.EntityType.3, Entity.Category.3, Entity.EntityType.4, Entity.Category.4, Category, Type, Unit]
Index: []

- Entity.EntityID.1 =>  conference room
- Entity.EntityID.2 => Floor

In [12]:
conf_room_id_mapping = {f"conference_room_{i+1}":conf_room_id for i, conf_room_id
                        in enumerate(list(df_conference_room['Entity.EntityID.1'].unique()))}
conf_room_id_mapping

{}

In [13]:
floor_id_mapping = {"Basement": 'e8e7705d_b87a_4bf3_b454_202ca27ea7ad',
                    "floor_a": '6e0854f9_3888_4867_9176_0693de75f841',
                    "floor_b": 'ef790dae_bb9b_4cd7_a52c_ea35841f02dd'}

In [14]:
reverse_mapping = {v: k for k, v in floor_id_mapping.items()}
df_conference_room['floor_name'] = df_conference_room['Entity.EntityID.2'].map(reverse_mapping)

reverse_mapping = {v: k for k, v in conf_room_id_mapping.items()}
df_conference_room['conference_room_name'] = df_conference_room['Entity.EntityID.1'].map(reverse_mapping)
df_conference_room

Empty DataFrame
Columns: [StreamID, Entity.Category.1, Entity.EntityType.1, Entity.EntityID.1, Entity.EntityType.2, Entity.Category.2, Entity.EntityID.2, Entity.EntityType.3, Entity.Category.3, Entity.EntityType.4, Entity.Category.4, Category, Type, Unit, floor_name, conference_room_name]
Index: []

In [15]:
df_conference_room.columns

Index(['StreamID', 'Entity.Category.1', 'Entity.EntityType.1',
       'Entity.EntityID.1', 'Entity.EntityType.2', 'Entity.Category.2',
       'Entity.EntityID.2', 'Entity.EntityType.3', 'Entity.Category.3',
       'Entity.EntityType.4', 'Entity.Category.4', 'Category', 'Type', 'Unit',
       'floor_name', 'conference_room_name'],
      dtype='object')

##### Join the processed df_conference_room to df_mapper to obtain the data file (.pkl)

In [16]:
df_conference_mapping = (df_conference_room
                         .merge(df_mapper, on='StreamID')
                         [['StreamID', 'Type', 'Building', 'Filename', 'floor_name', 'conference_room_name']]
                        )
df_conference_mapping

Empty DataFrame
Columns: [StreamID, Type, Building, Filename, floor_name, conference_room_name]
Index: []

In [17]:
def get_conference_room_temp(df, title):
    df['dt'] = pd.to_datetime(df['dt'])
    df['date'] = df['dt'].dt.date

    # Calculate daily median temperature for each sensor
    daily_median = df.groupby(['date', 'sensor'])['value'].median().unstack()

    # Create the plot
    plt.figure(figsize=(12, 6))
    for sensor in daily_median.columns:
        plt.plot(daily_median.index, daily_median[sensor], label=sensor, marker='o')

    plt.title(title)
    plt.xlabel('Date')
    plt.ylabel('Median Temperature')
    plt.legend()
    plt.grid(True)

    plt.xticks(rotation=45)
    plt.tight_layout()
    plt.show()

In [18]:
# Iterate over each row and plot
for index, row in df_conference_mapping.iterrows():
    print(row['Type'], row['conference_room_name'],  row['floor_name'], row['Filename'])
    data_path = f"{train_file_path}/{row['Filename']}"
    print(f"{data_path=}")
    with open(data_path, 'rb') as file:
        data = pickle.load(file)
        
    df = pd.DataFrame(data)
    df.columns = ['dt','value', 'sensor']
    title = f"{row['Type']} in {row['floor_name']} of  { row['conference_room_name'] }"
    get_conference_room_temp(df, title)
    file_name = row['Filename'].split('.')[0]
    df.to_csv(f"../frontend/processed_{file_name}.csv")
    break