# Paths to our dataset files

In [16]:
data = '../datasets/bts_site_b_train/train.zip'
mapper = '../datasets/bts_site_b_train/mapper_TrainOnly.csv'
model = '../datasets/bts_site_b_train/Site_B.ttl'
schema = '../datasets/bts_site_b_train/Brick_v1.2.1.ttl'

# Load the Dataset

Hack for demo purposes to add the `src` directory to the path:

In [17]:
import sys
sys.path.append("../src")

Import and instantiate the manager:

In [18]:
from dbmgr import DBManager
db = DBManager(data, mapper, model, schema)

This `db` object is what is passed to each analytics module.

## Number of streams in the dataset

In [19]:
len(db)

668

## Iterating over the streams in the dataset

In [20]:
i = 0
for stream_id in db:
    print(stream_id)
    i += 1
    if i == 5:
        break

6f502ba0_77fb_43db_b6dc_48e68d5c822b
3c9ca09b_8952_45da_a066_bcb645cbbc68
d60c44c3_62fc_409a_a751_8b3ddeb9f197
eb0d5916_d942_4e2d_8129_60b83d984fdd
78078042_e16e_425b_9ec8_605aa149274e

## Check if a stream ID is in the dataset:

Not in the dataset:

In [21]:
'tim' in db

False

In the dataset:

In [22]:
'835a86d6_c235_4caf_8071_31b9bf24960b' in db

True

## Get a stream by its ID:

By indexing into the manager:

In [23]:
db['835a86d6_c235_4caf_8071_31b9bf24960b'].head()

                     time  value    brick_class
0 2021-01-01 00:03:09.662    0.0  Enable_Status
1 2021-01-01 00:13:39.017    0.0  Enable_Status
2 2021-01-01 00:23:10.073    0.0  Enable_Status
3 2021-01-01 00:33:09.637    0.0  Enable_Status
4 2021-01-01 00:43:09.639    0.0  Enable_Status

By calling the getter:

In [24]:
db.get_stream('835a86d6_c235_4caf_8071_31b9bf24960b').head()

                     time  value    brick_class
0 2021-01-01 00:03:09.662    0.0  Enable_Status
1 2021-01-01 00:13:39.017    0.0  Enable_Status
2 2021-01-01 00:23:10.073    0.0  Enable_Status
3 2021-01-01 00:33:09.637    0.0  Enable_Status
4 2021-01-01 00:43:09.639    0.0  Enable_Status

## Set a stream by its ID:

In [25]:
import pandas as pd

data = pd.DataFrame({
            "time": [pd.Timestamp('2017-03-22 15:16:45'), pd.Timestamp('2017-03-22 15:17:45'), pd.Timestamp('2017-03-22 15:18:45'), pd.Timestamp('2017-03-22 15:19:45') ],
            "value": [22.0, 23.0, 24.0, 25.0],
            "brick_class": ["Fake_Class", "Fake_Class", "Fake_Class", "Fake_Class"],
        })

By indexing into the manager:

In [26]:
db['835a86d6_c235_4caf_8071_31b9bf24960b'] = data
db['835a86d6_c235_4caf_8071_31b9bf24960b'].head()

                 time  value brick_class
0 2017-03-22 15:16:45   22.0  Fake_Class
1 2017-03-22 15:17:45   23.0  Fake_Class
2 2017-03-22 15:18:45   24.0  Fake_Class
3 2017-03-22 15:19:45   25.0  Fake_Class

By calling the setter:

In [27]:
db.set_stream('22543d51_3c38_46d3_98fe_a77838976df9', data)
db.get_stream('22543d51_3c38_46d3_98fe_a77838976df9').head()

                 time  value brick_class
0 2017-03-22 15:16:45   22.0  Fake_Class
1 2017-03-22 15:17:45   23.0  Fake_Class
2 2017-03-22 15:18:45   24.0  Fake_Class
3 2017-03-22 15:19:45   25.0  Fake_Class

## Get multiple streams by their IDs:

In [28]:
stream_ids = [
    '22543d51_3c38_46d3_98fe_a77838976df9',
    '3010a24a_2deb_43c8_9db4_cfc94c5faa5c',
    '405896a1_c195_422d_a0aa_18d2eca6a61d',
]
streams = db.get_streams(stream_ids)
for stream_id, stream in streams.items():
    print(f'========= {stream_id} =========')
    print(stream.head())
    print()

========= 22543d51_3c38_46d3_98fe_a77838976df9 =========
                 time  value brick_class
0 2017-03-22 15:16:45   22.0  Fake_Class
1 2017-03-22 15:17:45   23.0  Fake_Class
2 2017-03-22 15:18:45   24.0  Fake_Class
3 2017-03-22 15:19:45   25.0  Fake_Class

========= 3010a24a_2deb_43c8_9db4_cfc94c5faa5c =========
                     time  value              brick_class
0 2021-07-13 01:26:18.083 -0.107  Electrical_Power_Sensor
1 2021-07-13 01:31:17.035 -0.042  Electrical_Power_Sensor
2 2021-07-13 01:36:13.143  0.054  Electrical_Power_Sensor
3 2021-07-13 01:50:12.735 -0.016  Electrical_Power_Sensor
4 2021-07-13 01:55:12.150 -0.164  Electrical_Power_Sensor

========= 405896a1_c195_422d_a0aa_18d2eca6a61d =========
                     time  value                   brick_class
0 2021-01-01 00:03:16.153   23.5  Cooling_Temperature_Setpoint
1 2021-01-01 00:13:44.730   23.5  Cooling_Temperature_Setpoint
2 2021-01-01 00:23:16.055   23.5  Cooling_Temperature_Setpoint
3 2021-01-01 00:33:16.093   23.5  Cooling_Temperature_Setpoint
4 2021-01-01 00:43:16.129   23.5  Cooling_Temperature_Setpoint

## Get the label of a stream:

Stream that does exist:

In [29]:
db.get_stream_label('22543d51_3c38_46d3_98fe_a77838976df9')

'Operating_Mode_Status'

Stream that doesn't exist will raise a KeyError (so should generally wrap calls like this in try-except blocks):

In [30]:
# db.get_stream_label('does not exist')

## Query the building model:

Some arbitrary sparql query:

In [31]:
q = """
SELECT ?s ?p ?o WHERE {
    ?s ?p ?o
} LIMIT 5
"""

Get the results as RDFLib rows:

In [32]:
res = db.query(q)
for r in res:
    print(r)

(rdflib.term.URIRef('dch:org/df125f8d_93e4_4a4f_bc87_1c4e332f32b8/site/c495fbd8_7a71_44b4_ad2a_014ac2df7ce9/building/95d1f7f3_33c6_4bd8_a82c_99c550d83bb8#d64b9bc0_e6b3_4556_acda_8040d33b7148.c7fec04c_e8ac_4a10_b940_ebd908f9d284'), rdflib.term.URIRef('http://www.w3.org/1999/02/22-rdf-syntax-ns#type'), rdflib.term.URIRef('https://brickschema.org/schema/Brick#Emergency_Alarm'))
(rdflib.term.URIRef('dch:org/df125f8d_93e4_4a4f_bc87_1c4e332f32b8/site/c495fbd8_7a71_44b4_ad2a_014ac2df7ce9/building/95d1f7f3_33c6_4bd8_a82c_99c550d83bb8#d64b9bc0_e6b3_4556_acda_8040d33b7148.c76e3d65_8b3a_4b18_8f73_ab3608a678a9'), rdflib.term.URIRef('http://www.w3.org/1999/02/22-rdf-syntax-ns#type'), rdflib.term.URIRef('https://brickschema.org/schema/Brick#Temperature_Parameter'))
(rdflib.term.BNode('nc485c3168413458db2ae9953a50d5c71b240'), rdflib.term.URIRef('https://brickschema.org/schema/Brick#value'), rdflib.term.Literal('real'))
(rdflib.term.URIRef('dch:org/df125f8d_93e4_4a4f_bc87_1c4e332f32b8/site/c495fbd8_7a71_44b4_ad2a_014ac2df7ce9/building/95d1f7f3_33c6_4bd8_a82c_99c550d83bb8#22937c9b_ad32_47c9_b013_1df3a46f0d37'), rdflib.term.URIRef('https://brickschema.org/schema/Brick#isPartOf'), rdflib.term.URIRef('dch:org/df125f8d_93e4_4a4f_bc87_1c4e332f32b8/site/c495fbd8_7a71_44b4_ad2a_014ac2df7ce9/building/95d1f7f3_33c6_4bd8_a82c_99c550d83bb8#d0b621a6_148d_427d_8aef_b073b11184e1'))
(rdflib.term.URIRef('dch:org/df125f8d_93e4_4a4f_bc87_1c4e332f32b8/site/c495fbd8_7a71_44b4_ad2a_014ac2df7ce9/building/95d1f7f3_33c6_4bd8_a82c_99c550d83bb8#3b373634_2461_4b61_8bcb_068c12b7e1a8.6af9698e_b72b_48d7_b864_9a0d518ec3b1'), rdflib.term.URIRef('https://brickschema.org/schema/Brick#isPartOf'), rdflib.term.URIRef('dch:org/df125f8d_93e4_4a4f_bc87_1c4e332f32b8/site/c495fbd8_7a71_44b4_ad2a_014ac2df7ce9/building/95d1f7f3_33c6_4bd8_a82c_99c550d83bb8#6e0854f9_3888_4867_9176_0693de75f841'))

Get the results as a DataFrame:

In [33]:
res = db.query(q, return_df=True)
res.head()

,o,p,s
0,https://brickschema.org/schema/Brick#Emergency...,http://www.w3.org/1999/02/22-rdf-syntax-ns#type,dch:org/df125f8d_93e4_4a4f_bc87_1c4e332f32b8/s...
1,https://brickschema.org/schema/Brick#Temperatu...,http://www.w3.org/1999/02/22-rdf-syntax-ns#type,dch:org/df125f8d_93e4_4a4f_bc87_1c4e332f32b8/s...
2,real,https://brickschema.org/schema/Brick#value,nc485c3168413458db2ae9953a50d5c71b240
3,dch:org/df125f8d_93e4_4a4f_bc87_1c4e332f32b8/s...,https://brickschema.org/schema/Brick#isPartOf,dch:org/df125f8d_93e4_4a4f_bc87_1c4e332f32b8/s...
4,dch:org/df125f8d_93e4_4a4f_bc87_1c4e332f32b8/s...,https://brickschema.org/schema/Brick#isPartOf,dch:org/df125f8d_93e4_4a4f_bc87_1c4e332f32b8/s...

## Query the brick schema:

Get the results as RDFLib rows:

In [34]:
res = db.query(q, graph='schema')
for r in res:
    print(r)

(rdflib.term.URIRef('https://brickschema.org/schema/Brick#Effective_Supply_Air_Temperature_Setpoint'), rdflib.term.URIRef('https://brickschema.org/schema/Brick#hasAssociatedTag'), rdflib.term.URIRef('https://brickschema.org/schema/BrickTag#Point'))
(rdflib.term.URIRef('https://brickschema.org/schema/Brick#Time'), rdflib.term.URIRef('http://qudt.org/schema/qudt/applicableUnit'), rdflib.term.URIRef('http://qudt.org/vocab/unit/MegaYR'))
(rdflib.term.BNode('n6dac668747d74bdba82111dca533863cb2140'), rdflib.term.URIRef('http://www.w3.org/1999/02/22-rdf-syntax-ns#rest'), rdflib.term.URIRef('http://www.w3.org/1999/02/22-rdf-syntax-ns#nil'))
(rdflib.term.URIRef('https://brickschema.org/schema/BrickTag#Matter'), rdflib.term.URIRef('http://www.w3.org/2000/01/rdf-schema#label'), rdflib.term.Literal('Matter'))
(rdflib.term.BNode('n6dac668747d74bdba82111dca533863cb65'), rdflib.term.URIRef('http://www.w3.org/1999/02/22-rdf-syntax-ns#type'), rdflib.term.URIRef('http://www.w3.org/2002/07/owl#Restriction'))

Get the results as a DataFrame:

In [35]:
res = db.query(q, graph='schema', return_df=True)
res.head()

,o,p,s
0,https://brickschema.org/schema/BrickTag#Point,https://brickschema.org/schema/Brick#hasAssoci...,https://brickschema.org/schema/Brick#Effective...
1,http://qudt.org/vocab/unit/MegaYR,http://qudt.org/schema/qudt/applicableUnit,https://brickschema.org/schema/Brick#Time
2,http://www.w3.org/1999/02/22-rdf-syntax-ns#nil,http://www.w3.org/1999/02/22-rdf-syntax-ns#rest,n6dac668747d74bdba82111dca533863cb2140
3,Matter,http://www.w3.org/2000/01/rdf-schema#label,https://brickschema.org/schema/BrickTag#Matter
4,http://www.w3.org/2002/07/owl#Restriction,http://www.w3.org/1999/02/22-rdf-syntax-ns#type,n6dac668747d74bdba82111dca533863cb65

## Remove the RDF prefixes from the query results:

In [36]:
res = db.query(q, return_df=True, defrag=True)
res.head()

,o,p,s
0,Emergency_Alarm,type,d64b9bc0_e6b3_4556_acda_8040d33b7148.c7fec04c_...
1,Temperature_Parameter,type,d64b9bc0_e6b3_4556_acda_8040d33b7148.c76e3d65_...
2,real,value,nc485c3168413458db2ae9953a50d5c71b240
3,d0b621a6_148d_427d_8aef_b073b11184e1,isPartOf,22937c9b_ad32_47c9_b013_1df3a46f0d37
4,6e0854f9_3888_4867_9176_0693de75f841,isPartOf,3b373634_2461_4b61_8bcb_068c12b7e1a8.6af9698e_...

## Get the building model knowledge graph itself:

In [37]:
g = db.model
i = 0
for s, p, o in g:
    print(s, p, o)
    i += 1
    if i == 5:
        break

dch:org/df125f8d_93e4_4a4f_bc87_1c4e332f32b8/site/c495fbd8_7a71_44b4_ad2a_014ac2df7ce9/building/95d1f7f3_33c6_4bd8_a82c_99c550d83bb8#d64b9bc0_e6b3_4556_acda_8040d33b7148.c7fec04c_e8ac_4a10_b940_ebd908f9d284 http://www.w3.org/1999/02/22-rdf-syntax-ns#type https://brickschema.org/schema/Brick#Emergency_Alarm
dch:org/df125f8d_93e4_4a4f_bc87_1c4e332f32b8/site/c495fbd8_7a71_44b4_ad2a_014ac2df7ce9/building/95d1f7f3_33c6_4bd8_a82c_99c550d83bb8#d64b9bc0_e6b3_4556_acda_8040d33b7148.c76e3d65_8b3a_4b18_8f73_ab3608a678a9 http://www.w3.org/1999/02/22-rdf-syntax-ns#type https://brickschema.org/schema/Brick#Temperature_Parameter
nc485c3168413458db2ae9953a50d5c71b240 https://brickschema.org/schema/Brick#value real
dch:org/df125f8d_93e4_4a4f_bc87_1c4e332f32b8/site/c495fbd8_7a71_44b4_ad2a_014ac2df7ce9/building/95d1f7f3_33c6_4bd8_a82c_99c550d83bb8#22937c9b_ad32_47c9_b013_1df3a46f0d37 https://brickschema.org/schema/Brick#isPartOf dch:org/df125f8d_93e4_4a4f_bc87_1c4e332f32b8/site/c495fbd8_7a71_44b4_ad2a_014ac2df7ce9/building/95d1f7f3_33c6_4bd8_a82c_99c550d83bb8#d0b621a6_148d_427d_8aef_b073b11184e1
dch:org/df125f8d_93e4_4a4f_bc87_1c4e332f32b8/site/c495fbd8_7a71_44b4_ad2a_014ac2df7ce9/building/95d1f7f3_33c6_4bd8_a82c_99c550d83bb8#3b373634_2461_4b61_8bcb_068c12b7e1a8.6af9698e_b72b_48d7_b864_9a0d518ec3b1 https://brickschema.org/schema/Brick#isPartOf dch:org/df125f8d_93e4_4a4f_bc87_1c4e332f32b8/site/c495fbd8_7a71_44b4_ad2a_014ac2df7ce9/building/95d1f7f3_33c6_4bd8_a82c_99c550d83bb8#6e0854f9_3888_4867_9176_0693de75f841

## Get the brick schema knowledge graph itself:

In [38]:
g = db.schema
i = 0
for s, p, o in g:
    print(s, p, o)
    i += 1
    if i == 5:
        break

https://brickschema.org/schema/Brick#Effective_Supply_Air_Temperature_Setpoint https://brickschema.org/schema/Brick#hasAssociatedTag https://brickschema.org/schema/BrickTag#Point
https://brickschema.org/schema/Brick#Time http://qudt.org/schema/qudt/applicableUnit http://qudt.org/vocab/unit/MegaYR
n6dac668747d74bdba82111dca533863cb2140 http://www.w3.org/1999/02/22-rdf-syntax-ns#rest http://www.w3.org/1999/02/22-rdf-syntax-ns#nil
https://brickschema.org/schema/BrickTag#Matter http://www.w3.org/2000/01/rdf-schema#label Matter
n6dac668747d74bdba82111dca533863cb65 http://www.w3.org/1999/02/22-rdf-syntax-ns#type http://www.w3.org/2002/07/owl#Restriction

## Get the time series data itself:

In [39]:
data = db.data
i = 0
for k, v in data.items():
    print(f'{k}: {len(v)} data points')
    i += 1
    if i == 5:
        break

6f502ba0_77fb_43db_b6dc_48e68d5c822b: 51193 data points
3c9ca09b_8952_45da_a066_bcb645cbbc68: 51194 data points
d60c44c3_62fc_409a_a751_8b3ddeb9f197: 51194 data points
eb0d5916_d942_4e2d_8129_60b83d984fdd: 51200 data points
78078042_e16e_425b_9ec8_605aa149274e: 51188 data points

## Get the mapper itself:

In [40]:
mapper = db.mapper
mapper.head()

,Building,StreamID,Filename,strBrickLabel
8349,B,3dfa2bab_f8f2_485b_80e9_5afdeeac9dc4,trainAll_7989.pkl,Temperature_Setpoint
8350,B,77ed01a5_11c3_4607_9bf8_342b947c88de,trainAll_7990.pkl,System_Enable_Command
8351,B,16b768f0_5fb1_4db3_b506_d811b7c67738,trainAll_7991.pkl,Proportional_Gain_Parameter
8353,B,eb0d5916_d942_4e2d_8129_60b83d984fdd,trainAll_7992.pkl,Max_Temperature_Setpoint_Limit
8354,B,82f75178_cc15_4db7_b06c_48432305bd58,trainAll_7993.pkl,Max_Temperature_Setpoint_Limit